body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --primary: #1e90ff;
  --secondary: #d49a32;
  --complimentary: #c32824;
  --primary_text: #ffffff;
}
::-webkit-scrollbar {
  display: none;
}

.h2 {
  color: black;
}


.button {
  width: auto; 
  height: 1.5rem;
  background-color: dodgerblue;
  padding: 1rem 3rem;
  font-size: 1rem;
  display: flex;
   align-items: center;
   justify-content: center; 
   font-weight: bold;
   color: white;
   
}

.button:hover{
  cursor: pointer;
  scale:1.03;
  box-shadow: black;
}

@media only screen and (max-width: 600px) {
  .button {
    font-weight: normal;
  }
}